[Desktop Entry]
Encoding=UTF-8
Name=Software Updater (QML)
Name[ca]=Actualitzador de programari (QML)
Name[cs]=Aktualizace softwaru (QML)
Name[da]=Softwareopdatering (QML)
Name[de]=Softwareaktualisierung (QML)
Name[el]=Ενημερώσεις λογισμικού (QML)
Name[es]=Actualizador de software (QML)
Name[et]=Tarkvarauuendused (QML)
Name[fi]=Ohjelmistopäivitin (QML)
Name[gl]=Actualizador de software (QML)
Name[hu]=Szoftverfrissítő (QML)
Name[lt]=Programinės įrangos atnaujinimas (QML)
Name[nb]=Programoppdaterer (QML)
Name[nl]=Toepassing om software bij te werken (QML)
Name[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟਰ (QML)
Name[pl]=Program uaktualniający oprogramowanie (QML)
Name[pt]=Actualização das Aplicações (QML)
Name[pt_BR]=Atualizador de programas (QML)
Name[ru]=Обновление программ (QML)
Name[sk]=Aktualizácot softvéru (QML)
Name[sl]=Posodobitve programske opreme (QML)
Name[sv]=Uppdateringar av programvara (QML)
Name[uk]=Оновлення програм (QML)
Name[wa]=Meteu a djoû des programes (QML)
Name[x-test]=xxSoftware Updater (QML)xx
Name[zh_CN]=软件更新程序(QML)
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=system-software-update
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=250,350
X-Plasma-NotificationArea=true
X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=org.packagekit.updater
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
