[Desktop Entry]
Encoding=UTF-8
Name=Software Updater
Name[ar]=محدّث البرمجيّات
Name[ast]=Anovador de software
Name[bs]=Nadograđivač softvera
Name[ca]=Actualitzador de programari
Name[ca@valencia]=Actualitzador de programari
Name[cs]=Aktualizace softwaru
Name[da]=Softwareopdatering
Name[de]=Softwareaktualisierung
Name[el]=Ενημερώσεις λογισμικού
Name[en_GB]=Software Updater
Name[es]=Actualizador de software
Name[et]=Tarkvarauuendused
Name[fi]=Ohjelmistopäivitin
Name[fr]=Application de mise à jour de logiciels
Name[gl]=Actualizador de software
Name[hu]=Szoftverfrissítő
Name[it]=Aggiornamento software
Name[ko]=소프트웨어 업데이터
Name[lt]=Programinės įrangos atnaujinimas
Name[mr]=सॉफ्टवेअर अद्ययावत करणारा
Name[nb]=Programoppdaterer
Name[nds]=Software opfrischen
Name[nl]=Toepassing om software bij te werken
Name[nn]=Programvareoppdaterar
Name[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟਰ
Name[pl]=Uaktualnianie oprogramowania
Name[pt]=Actualização das Aplicações
Name[pt_BR]=Atualizador de programas
Name[ro]=Actualizator de programe
Name[ru]=Обновление программ
Name[sk]=Aktualizátor softvéru
Name[sl]=Posodobitve programske opreme
Name[sv]=Uppdateringar av programvara
Name[tr]=Yazılım Güncelleyici
Name[ug]=يۇمشاق دېتال يېڭىلىغۇ
Name[uk]=Оновлення програм
Name[wa]=Meteu a djoû des programes
Name[x-test]=xxSoftware Updaterxx
Name[zh_CN]=软件更新程序
Name[zh_TW]=軟體更新程式
Comment=Displays and updates software
Comment[ar]=يعرض البرمجيّات ويحدّثها
Comment[ast]=Amuesa y anueva software
Comment[bs]=Prikazuje i nadograđuje softver
Comment[ca]=Mostra i actualitza el programari
Comment[ca@valencia]=Mostra i actualitza el programari
Comment[cs]=Zobrazí a aktualizuje software
Comment[da]=Viser og opdaterer software
Comment[de]=Software anzeigen und aktualisieren
Comment[el]=Εμφανίζει και ενημερώνει το λογισμικό
Comment[en_GB]=Displays and updates software
Comment[es]=Muestra y actualiza software
Comment[et]=Tarkvara näitamine ja uuendamine
Comment[fi]=Näyttää ja päivittää ohjelmia
Comment[fr]=Affiche et met à jour des logiciels
Comment[gl]=Mostra e aplica actualizacións de software
Comment[hu]=Megjeleníti és frissíti a szoftvert
Comment[it]=Visualizza e aggiorna il software
Comment[ko]=소프트웨어 업데이트 표시 및 설치
Comment[lt]=Rodo ir atnaujina programinę įrangą
Comment[mr]=सॉफ्टवेअर दर्शवितो व अद्ययावत करतो
Comment[nb]=Viser og oppdaterer programvare
Comment[nds]=Wiest Programmen un frischen ehr op
Comment[nl]=Toont software en werkt deze bij
Comment[nn]=Viser og oppdaterer programvare
Comment[pa]=ਸਾਫਟਵੇਅਰ ਵੇਖੋ ਅਤੇ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Wyświetla i uaktualnia oprogramowanie
Comment[pt]=Mostra e actualiza as aplicações
Comment[pt_BR]=Mostra e atualiza os programas
Comment[ro]=Afișează și actualizează programe
Comment[ru]=Обновление программного обеспечения
Comment[sk]=Zobrazí a aktualizuje softvér
Comment[sl]=Prikaže in posodobi programsko opremo
Comment[sv]=Visar och uppdaterar programvara
Comment[tr]=Yazılımları görüntüler ve günceller
Comment[uk]=Програма для показу та виконання оновлень
Comment[wa]=Håyner eyet mete a djoû des programes
Comment[x-test]=xxDisplays and updates softwarexx
Comment[zh_CN]=显示和更新软件
Comment[zh_TW]=顯示與更新軟體

Icon=system-software-update
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=org.packagekit.updater
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=250,350
X-Plasma-NotificationArea=true
X-Plasma-Requires-LaunchApp=Required
