[Desktop Entry]
Encoding=UTF-8
Name=Software Updater
Name[ca]=Actualitzador de programari
Name[cs]=Aktualizace softwaru
Name[da]=Softwareopdatering
Name[de]=Softwareaktualisierung
Name[el]=Ενημερώσεις λογισμικού
Name[es]=Actualizador de software
Name[et]=Tarkvarauuendused
Name[fi]=Ohjelmistopäivitin
Name[gl]=Actualizador de software
Name[hu]=Szoftverfrissítő
Name[lt]=Programinės įrangos atnaujinimas
Name[nb]=Programoppdaterer
Name[nl]=Toepassing om software bij te werken
Name[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟਰ
Name[pl]=Program uaktualniający oprogramowanie
Name[pt]=Actualização das Aplicações
Name[pt_BR]=Atualizador de programas
Name[ru]=Обновление программ
Name[sk]=Aktualizátor softvéru
Name[sl]=Posodobitve programske opreme
Name[sv]=Uppdateringar av programvara
Name[uk]=Оновлення програм
Name[wa]=Meteu a djoû des programes
Name[x-test]=xxSoftware Updaterxx
Name[zh_CN]=软件更新程序
Comment=Displays and updates software
Comment[ca]=Mostra i actualitza el programari
Comment[cs]=Zobrazí a aktualizuje software
Comment[da]=Viser og opdaterer software
Comment[de]=Software anzeigen und aktualisieren
Comment[el]=Εμφανίζει και ενημερώνει το λογισμικό
Comment[es]=Muestra y actualiza software
Comment[et]=Tarkvara näitamine ja uuendamine
Comment[fi]=Näyttää ja päivittää ohjelmia
Comment[gl]=Mostra e aplica actualizacións de software
Comment[hu]=Megjeleníti és frissíti a szoftvert
Comment[lt]=Rodo ir atnaujina programinę įrangą
Comment[nb]=Viser og oppdaterer programvare
Comment[nl]=Toont software en werkt deze bij
Comment[pa]=ਸਾਫਟਵੇਅਰ ਵੇਖੋ ਅਤੇ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Wyświetla i uaktualnia oprogramowanie
Comment[pt]=Mostra e actualiza as aplicações
Comment[pt_BR]=Mostra e atualiza os programas
Comment[ru]=Обновление программного обеспечения
Comment[sk]=Zobrazí a aktualizuje softvér
Comment[sl]=Prikaže in posodobi programsko opremo
Comment[sv]=Visar och uppdaterar programvara
Comment[uk]=Програма для показу та виконання оновлень
Comment[wa]=Håyner eyet mete a djoû des programes
Comment[x-test]=xxDisplays and updates softwarexx
Comment[zh_CN]=显示和更新软件

Icon=system-software-update
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-Library=plasma_applet_updater
X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=updater
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
