[Desktop Entry]
Encoding=UTF-8
Name=Software Updater
Name[cs]=Aktualizace softwaru
Name[da]=Softwareopdatering
Name[el]=Ενημερώσεις λογισμικού
Name[et]=Tarkvarauuendused
Name[hu]=Szoftverfrissítő
Name[nl]=Toepassing om software bij te werken
Name[pt]=Actualização das Aplicações
Name[pt_BR]=Atualizador de programas
Name[sk]=Aktualizátor softvéru
Name[sv]=Uppdateringar av programvara
Name[uk]=Оновлення програм
Name[x-test]=xxSoftware Updaterxx
Comment=Displays and updates software
Comment[cs]=Zobrazí a aktualizuje software
Comment[da]=Viser og opdaterer software
Comment[el]=Εμφανίζει και ενημερώνει το λογισμικό
Comment[et]=Tarkvara näitamine ja uuendamine
Comment[hu]=Megjeleníti és frissíti a szoftvert
Comment[nl]=Toont software en werkt deze bij
Comment[pt]=Mostra e actualiza as aplicações
Comment[pt_BR]=Mostra e atualiza os programas
Comment[sk]=Zobrazí a aktualizuje softvér
Comment[sv]=Visar och uppdaterar programvara
Comment[uk]=Програма для показу та виконання оновлень
Comment[x-test]=xxDisplays and updates softwarexx

Icon=system-software-update
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-Library=plasma_applet_updater
X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=updater
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
