[Desktop Entry]
Type=Application
Icon=applications-other
Exec=apper-appsetup %F

Name=Listaller Package Installer
Name[bs]=Listaller instalater paketa
Name[ca]=Instal·lador de paquets llista-ho tot
Name[ca@valencia]=Instal·lador de paquets llista-ho tot
Name[da]=Listaller pakkeinstallationsprogram
Name[de]=Listaller-Pakeinstallationsprogramm
Name[el]=Εγκατάσταση πακέτων Listaller
Name[es]=Instalador de paquetes Listaller
Name[et]=Listalleri tarkvara paigaldaja
Name[fi]=Listaller-pakettiasennusohjelma
Name[fr]=Programme d'installation de paquets « Listaller »
Name[gl]=Instalador de paquetes Listaller
Name[hu]=Listaller csomagtelepítő
Name[it]=Installatore di pacchetti Listaller
Name[lt]=Listaller paketų diegimo programa
Name[mr]=लिन्सटोलर पॅकेज संस्थापक
Name[nb]=Listaller pakkeinstallerer
Name[nl]=Installatieprogramma voor pakketten Listaller
Name[pa]=ਲਿਸਟਰ ਪੈਕੇਜ ਇੰਸਟਾਲਰ
Name[pl]=Instalator pakietów Listaller
Name[pt]=Instalador de Pacotes Listaller
Name[pt_BR]=Instalador de pacote Listaller
Name[ro]=Instalator de pachete Linstaller
Name[ru]=Приложение Listaller для установки пакетов
Name[sk]=Inštalátor balíkov Listaller
Name[sl]=Namestilnik paketov Listaller
Name[sv]=Listaller paketinstallation
Name[tr]=Listaller Paket Yükleyici
Name[uk]=Програма для встановлення пакунків Listaller
Name[wa]=Astaleu di pacaedjes Listaller
Name[x-test]=xxListaller Package Installerxx
Name[zh_CN]=Listaller 软件包安装程序
Name[zh_TW]=Listaller 套件安裝程式
GenericName=3rd-party software installer
GenericName[bs]=Softverski instaler koga je razvila treća strana
GenericName[ca]=Instal·lador de programari de terceres parts
GenericName[ca@valencia]=Instal·lador de programari de terceres parts
GenericName[cs]=Instalátor softwaru třetích stran
GenericName[da]=Installationsprogram til software fra 3.part
GenericName[de]=Installationsprogramm für Software von Drittanbietern
GenericName[el]=Εγκατάσταση λογισμικού από τρίτους
GenericName[es]=Instalador de software de terceras partes
GenericName[et]=Kolmanda poole tarkvara paigaldaja
GenericName[fi]=Kolmannen osapuolen ohjelmien asennusohjelma
GenericName[fr]=Programme d'installation de logiciels tiers
GenericName[gl]=Instalador de software de terceiros
GenericName[hu]=Külső szoftvertelepítő
GenericName[it]=Installatore di software di terze parti
GenericName[lt]=Trečių šalių programinės įrangos diegimo programa
GenericName[mr]=थर्ड पार्टी सॉफ्टवेअर संस्थापक
GenericName[nb]=Installerer tredjeparts programvare
GenericName[nl]=Installatieprogramma voor software van derden
GenericName[pa]=ਸੁਤੰਤਰ-ਧਿਰ ਸਾਫਟਵੇਅਰ ਇੰਸਟਾਲਰ
GenericName[pl]=Instalator oprogramowania osób trzecich
GenericName[pt]=Instalador de aplicações de terceiros
GenericName[pt_BR]=Instalador de software de terceiros
GenericName[ro]=Instalator de aplicații de la părți terțe
GenericName[ru]=Установка сторонних программ
GenericName[sk]=Inštalátor softvéru tretích strán
GenericName[sl]=Namestilnik programske opreme tretjih oseb
GenericName[sv]=Installation av programvara från tredje part
GenericName[tr]=Üçüncü Parti Yazılım yükleyici
GenericName[uk]=Програма для встановлення стороннього програмного забезпечення
GenericName[wa]=Astaleu di programes di ticès pårteyes
GenericName[x-test]=xx3rd-party software installerxx
GenericName[zh_CN]=第三方软件安装程序
GenericName[zh_TW]=第三方軟體安裝器
Comment=Tool to install new 3rd-party software
Comment[bs]=Alat za instalaciju Softvera koga je razvila treća strana
Comment[ca]=Eina per instal·lar programari nou de terceres parts
Comment[ca@valencia]=Eina per instal·lar programari nou de terceres parts
Comment[cs]=Nástroj pro instalaci nového softwaru třetích stran
Comment[da]=Værktøj til at installere ny software fra 3.part
Comment[de]=Anwendung zur Installation der Software von Drittanbietern
Comment[el]=Εργαλείο για την εγκατάσταση λογισμικού από τρίτους
Comment[es]=Herramienta para instalar nuevo software de terceras partes
Comment[et]=Tööriist kolmanda poole tarkvara paigaldamiseks
Comment[fi]=Työkalu kolmannen osapuolen ohjelmien asentamiseen
Comment[fr]=Outil pour installer de nouveaux logiciels tiers
Comment[gl]=Ferramenta para instalar software fornecido por terceiros
Comment[hu]=Segédprogram harmadik féltől származó szoftverek telepítéséhez
Comment[it]=Strumento per installare nuovo software di terze parti
Comment[lt]=Įrankis diegti naują trečių šalių programinę įrangą
Comment[mr]=थर्ड पार्टी सॉफ्टवेअर प्रतिष्ठापना करिता साधन
Comment[nb]=Verktøy som installerer tredjeparts programvare
Comment[nl]=Hulpmiddel voor het installeren van software van derden
Comment[pa]=ਨਵੇਂ ਸੁਤੰਤਰ-ਧਿਰ ਸਾਫਟਵੇਅਰ ਇੰਸਟਾਲ ਕਰਨ ਲਈ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Narzędzie do instalowania oprogramowania osób trzecich
Comment[pt]=Uma ferramenta para instalar aplicações de terceiros
Comment[pt_BR]=Ferramenta para instalar novos software de terceiros
Comment[ru]=Инструмент для установки стороннего ПО
Comment[sk]=Nástroj na inštaláciu nového softvéru tretích strán
Comment[sl]=Orodje za nameščanje nove programske opreme tretjih oseb
Comment[sv]=Program för att installera ny programvara från tredje part
Comment[tr]=Üçüncü parti yazılımları yüklemek için bir araç
Comment[uk]=Інструмент для встановлення стороннього програмного забезпечення
Comment[wa]=Programe po-z astaler des noveas programes di ticès pårteyes
Comment[x-test]=xxTool to install new 3rd-party softwarexx
Comment[zh_CN]=安装第三方软件的工具
Comment[zh_TW]=安裝新的第三方軟體的工具

Categories=Qt;KDE;System;Settings;PackageManager;
MimeType=application/x-app-package;
StartupNotify=true
NoDisplay=true
X-Publisher=KDE Project
