[Desktop Entry]
Type=Service
Exec=kcmshell4 kcm_apper
Icon=applications-other

X-KDE-Library=kcm_apper
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Category=manage-software
X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-System-Settings-Parent-Category-V2=system-administration

Name=Software Management
Name[bg]=Управление на софтуер
Name[bs]=Upravljanje softverom
Name[ca]=Gestor de programari
Name[ca@valencia]=Gestor de programari
Name[cs]=Správa softwaru
Name[da]=Håndtering af software
Name[de]=Softwareverwaltung
Name[el]=Διαχείριση λογισμικού
Name[en_GB]=Software Management
Name[es]=Gestión de software
Name[et]=Tarkvarahaldur
Name[fi]=Ohjelmistonhallinta
Name[fr]=Gestion des logiciels
Name[gl]=Xestión do software
Name[hr]=Upravljanje softverom
Name[hu]=Szoftverkezelő
Name[it]=Gestione software
Name[km]=ការ​គ្រប់គ្រង​កម្មវិធី
Name[lt]=Programų tvarkymas
Name[mr]=सॉफ्टवेअर व्यवस्थापन
Name[nb]=Programvarebehandling
Name[nds]=Programmpleeg
Name[nl]=Softwarebeheer
Name[nn]=Programvarehandsaming
Name[pa]=ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
Name[pl]=Zarządzanie oprogramowaniem
Name[pt]=Gestão de Aplicações
Name[pt_BR]=Gerenciamento de software
Name[ro]=Gestiune programe
Name[ru]=Менеджер программ
Name[sk]=Správa softvéru
Name[sl]=Upravljanje programske opreme
Name[sv]=Programvaruhantering
Name[tr]=Yazılım Yönetimi
Name[uk]=Керування програмами
Name[wa]=Manaedjmint des programes
Name[x-test]=xxSoftware Managementxx
Name[zh_CN]=软件管理
Name[zh_TW]=軟體管理

Comment=Get, Remove and Update Software
Comment[bg]=Инсталиране, премахване и обновяване на програми
Comment[bs]=Dobavi, ukloni i nadogradi softver
Comment[ca]=Obtén, elimina i actualitza el programari
Comment[ca@valencia]=Obtén, elimina i actualitza el programari
Comment[cs]=Získání, odstranění a aktualizace softwaru
Comment[da]=Hent, fjern og opdatér software
Comment[de]=Beziehen, entfernen und aktualisieren der Software
Comment[el]=Λήψη, κατάργηση και ενημέρωση λογισμικού
Comment[en_GB]=Get, Remove and Update Software
Comment[es]=Añadir, eliminar y actualizar software
Comment[et]=Tarkvara paigaldamine, eemaldamine ja uuendamine
Comment[fi]=Nouda, poista ja päivitä ohjelmia
Comment[fr]=Installe, supprime et met à jour des logiciels
Comment[gl]=Obter, eliminar e actualizar software
Comment[hr]=Dohvaćanje, uklanjanje i ažuriranje softvera
Comment[hu]=Szoftverek letöltése, eltávolítása és frissítése
Comment[it]=Aggiungi, rimuovi e aggiorna software
Comment[lt]=Gauti, šalinti ir naujinti programas
Comment[mr]=सॉफ्टवेअर प्रतिष्ठापन करा, काढून टाका व अद्ययावत करा
Comment[nb]=Hent, fjern og oppdater programvare
Comment[nds]=Programmen halen, wegmaken un opfrischen
Comment[nl]=Software verkrijgen, verwijderen en bijwerken
Comment[pa]=ਸਾਫਟਵੇਅਰ ਲਵੋ, ਹਟਾਓ ਤੇ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Pobieraj, usuwaj i uaktualniaj oprogramowanie
Comment[pt]=Obter, Remover e Actualizar Aplicações
Comment[pt_BR]=Obtém, remove e atualiza aplicativos
Comment[ro]=Obțineți, eliminați și actualizați aplicațiile
Comment[ru]=Установка, удаление и обновление программ
Comment[sk]=Získanie, odstránenie a aktualizácia softvéru
Comment[sl]=Pridobite, odstranite in posodobite programsko opremo
Comment[sv]=Hämta, ta bort och uppdatera programvara
Comment[tr]=Yazılım Ekle, Kaldır ve Güncelle
Comment[uk]=Встановлення, вилучення і оновлення програмного забезпечення
Comment[wa]=Cweri, oister eyet mete a djoû des programes
Comment[x-test]=xxGet, Remove and Update Softwarexx
Comment[zh_CN]=获取、删除和更新软件
Comment[zh_TW]=取得、移除與更新軟體

X-KDE-Keywords=install,uninstall,remove,software,applications,management,packages,packagekit,purge
X-KDE-Keywords[bs]=install,uninstall,remove,software,applications,management,packages,packagekit,purge,instaliraj,deinstaliraj,aplikacija,upravljanje,paketi
X-KDE-Keywords[ca]=instal·la,desinstal·la,elimina,programari,aplicacions,gestiona,paquets,packagekit,purga
X-KDE-Keywords[ca@valencia]=instal·la,desinstal·la,elimina,programari,aplicacions,gestiona,paquets,packagekit,purga
X-KDE-Keywords[da]=installér,afinstallér,fjern,software,programmer,håndtering,pakker,packagekit,purge
X-KDE-Keywords[de]=Installieren,Deinstallieren,Entfernen,Software,Anwendungen,Programme,Pakete.Packagekit,Löschen
X-KDE-Keywords[el]=εγκατάσταση,απεγκατάσταση,αφαίρεση,λογισμικό,εφαρμογές,διαχείριση,πακέτα,packagekit,διαγραφή
X-KDE-Keywords[es]=instalar,desinstalar,eliminar,software,aplicaciones,gestión,paquetes,packagekit,purgar
X-KDE-Keywords[et]=paigaldamine,eemaldamine,installimine,tarkvara,rakendused,haldamine,haldur,paketid,pakid,packagekit,puhastamine
X-KDE-Keywords[fi]=asenna,poista asennus,poista,ohjelma,ohjelmisto,sovellus,sovellukset,hallinta,paketit,paketti,packagekit,siivoa
X-KDE-Keywords[fr]=installer, désinstaller, supprimer, logiciels, applications, gestion, paquet, PackageKit, purger
X-KDE-Keywords[gl]=instalar,desinstalar,eliminar,software,aplicativos,xestión,paquetes, packagekit,purgar
X-KDE-Keywords[hu]=telepítés,eltávolítás,eltávolítás,szoftver,alkalmazások,kezelés,csomagok,packagekit,teljes eltávolítás
X-KDE-Keywords[it]=installa,disinstalla,rimuovi,software,applicazioni,gestione,pacchetti,packagekit,elimina
X-KDE-Keywords[lt]=įdiegti,pašalinti,išimti,programos,valdymas,paketai,packagekit,išvalyti
X-KDE-Keywords[mr]=प्रतिष्ठापन, अप्रतिष्ठापन, काढून टाका, सॉफ़्टवेअर, अनुप्रयोग, व्यवस्थापन,पॅकेजेस, पॅकेजकिट, साफ करा
X-KDE-Keywords[nb]=installer,avinstaller,fjern,programvare,programmer.behandling,pakker,packagekit,slett
X-KDE-Keywords[nl]=install,installeren,uninstall,deïnstalleren,remove,verwijderen,software,applications,toepassingen,management,beheer,pakketten,pakketkit,purge,opruimen
X-KDE-Keywords[pa]=ਇੰਸਟਾਲ,ਅਣ-ਇੰਸਟਾਲ,ਹਟਾਓ,ਸਾਫਟਵੇਅਰ,ਐਪਲੀਕੇਸ਼ਨ,ਪਰਬੰਧ,ਪੈਕੇਜ,ਪੈਕੇਜਕਿੱਟ,ਸਾਫ਼
X-KDE-Keywords[pl]=instaluj,odinstaluj,usuń,oprogramowanie,programy,aplikacje,zarządzanie,paczki,packagekit,wyczyść
X-KDE-Keywords[pt]=instalar,desinstalar,remover,aplicação,aplicações,gestão,pacotes,packagekit,eliminar
X-KDE-Keywords[pt_BR]=instalar,desinstalar,remover,software,aplicativos,gerenciamento,pacotes,packagekit,eliminar
X-KDE-Keywords[ru]=install,uninstall,remove,software,applications,management,packages,packagekit,purge,установка,удаление,управление,программы,приложения,пакеты,
X-KDE-Keywords[sk]=install,uninstall,remove,software,applications,management,packages,packagekit,purge
X-KDE-Keywords[sl]=namesti,odstrani,programska oprema,programi,upravljanje,paketi,packagekit,počisti
X-KDE-Keywords[sv]=installera,avinstallera,ta bort,programvara,program,hantering,paket,packagekit,rensa
X-KDE-Keywords[tr]=yükle,kaldır,sil,yazılım,uygulamalar,yönetim,paketler,packagekit,temizle
X-KDE-Keywords[uk]=install,uninstall,remove,software,applications,management,packages,packagekit,purge,встановлення,встановити,вилучення,вилучити,програма,програми,програмного забезпечення,керування,пакунки,повне вилучення,остаточне вилучення
X-KDE-Keywords[wa]=astaler,dizastaler,oister,disfacer,porgame,aplicåcions,manaedjmint,pacaedjes,packagekit,purge
X-KDE-Keywords[x-test]=xxinstall,uninstall,remove,software,applications,management,packages,packagekit,purgexx
X-KDE-Keywords[zh_CN]=install,uninstall,remove,software,applications,management,packages,packagekit,purge
X-KDE-Keywords[zh_TW]=install,uninstall,remove,software,applications,management,packages,packagekit,purge
