[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=apperd
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2

Name=Apper Monitor
Name[bs]=Monitor programa Apper
Name[ca]=Monitor Apper
Name[ca@valencia]=Monitor Apper
Name[cs]=Apper monitor
Name[da]=Apper overvågning
Name[de]=Apper-Überwachung
Name[el]=Παρακολούθηση Apper
Name[en_GB]=Apper Monitor
Name[es]=Monitor de Apper
Name[et]=Apperi monitor
Name[fi]=Apperin valvonta
Name[fr]=Moniteur de Apper
Name[gl]=Monitor de Apper
Name[hu]=Apper Monitor
Name[it]=Monitor di Apper
Name[ko]=Apper 모니터
Name[lt]=Apper stebėtojas
Name[mr]=एप्पर नियंत्रक
Name[nb]=Apper overvåker
Name[nds]=Apper - Kieker
Name[nl]=Apper-monitor
Name[nn]=Apper-overvaking
Name[pa]=ਅੱਪਰ ਮਾਨੀਟਰ
Name[pl]=Monitor Apper
Name[pt]=Monitor do Apper
Name[pt_BR]=Monitor do Apper
Name[ro]=Monitor Apper
Name[ru]=Монитор Apper
Name[sk]=Apper Monitor
Name[sl]=Nadzornik Apper
Name[sv]=Apper övervakning
Name[tr]=Apper İzleyici
Name[uk]=Монітор Apper
Name[wa]=Corwaitoe d' Apper
Name[x-test]=xxApper Monitorxx
Name[zh_CN]=Apper 监视器
Name[zh_TW]=Apper 監視器

Comment=Watch transactions and Notify about Software Updates
Comment[bs]=Prati transakcije i informiši o nadogradnjama softvera
Comment[ca]=Mira les transaccions i comunica sobre actualitzacions de programari
Comment[ca@valencia]=Mira les transaccions i comunica sobre actualitzacions de programari
Comment[cs]=Sledovat transakce a upozorňovat na aktualizace softwaru
Comment[da]=Overvåger transaktioner og bekendtgør om softwareopdateringer
Comment[de]=Überwacht Übertragungen und berichtet Softwareaktualisierungen
Comment[el]=Παρακολούθηση συναλλαγών και ειδοποίηση σχετικά με ενημερώσεις λογισμικού
Comment[en_GB]=Watch transactions and Notify about Software Updates
Comment[es]=Buscar transacciones y notificar actualizaciones de software
Comment[et]=Tarkvarauuenduste jälgimine ja neist teadaandmine
Comment[fi]=Valvoo toimenpiteitä ja ilmoittaa ohjelmistopäivityksistä
Comment[fr]=Surveiller les transactions et notifier les mises à jour des logiciels
Comment[gl]=Vixía e notifica a existencia de actualizacións de software
Comment[hu]=Tranzakciók figyelése és értesítés szoftverfrissítésekről
Comment[it]=Segui le transazioni e comunica gli aggiornamenti software
Comment[ko]=트랜잭션 관찰 및 소프트웨어 업데이트 알림
Comment[lt]=Stebi ir praneša apie programų atnaujinimus
Comment[mr]=क्रिया बघा व अद्ययावत सॉफ़्टवेअर बाबत सूचना द्या
Comment[nb]=Overvåker transaksjoner og varsler om programvare-oppdateringer
Comment[nds]=Op Akschonen luern un över Software-Opfrischen Bescheed geven
Comment[nl]=Bewaak transacties en meldt het bijwerken van software
Comment[nn]=Sjå på overføringar og varsla om programvareoppdateringar
Comment[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਬਾਰੇ ਟਰਾਂਸ਼ੈਕਸ਼ਨ ਅਤੇ ਸੂਚਨਾ ਵੇਖੋ
Comment[pl]=Obserwuje transakcje i powiadamia o uaktualnieniach oprogramowania
Comment[pt]=Segue as transacções e notifica as Actualizações de 'Software'
Comment[pt_BR]=Monitora as transações e notifica as atualizações de software
Comment[ro]=Urmărește tranzacții și notifică despre actualizări de programe
Comment[ru]=Показывает текущие операции и уведомляет об обновлениях программ
Comment[sk]=Sleduje transakcie a upozorňuje na aktualizácie softvéru
Comment[sl]=Spremlja prenose in obvešča o posodobitvah programske opreme
Comment[sv]=Övervaka transaktioner och underrätta om uppdateringar av programvara
Comment[tr]=Aktarımları izle ve yazılım güncelleştirmelerini bildir
Comment[uk]=Перегляд операцій та сповіщення щодо оновлень програм
Comment[wa]=Waitî après les tranzaccions eyet notifyî cwand gn a des metaedjes a djoû des programes
Comment[x-test]=xxWatch transactions and Notify about Software Updatesxx
Comment[zh_CN]=监视过程并提示软件包更新
Comment[zh_TW]=查看並通知軟體的更新
