[Desktop Entry]
Type=Application
Icon=applications-other
Exec=apper --updates
NoDisplay=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.apper

Name=Apper Updates
Name[ca]=Actualitzacions de Apper
Name[cs]=Aktualizace Apper
Name[da]=Apper opdateringer
Name[de]=Apper-Updater
Name[el]=Ενημέρωση Apper
Name[es]=Actualizaciones de Apper
Name[et]=Apperi uuendused
Name[fr]=Mises à jour Apper
Name[gl]=Actualizacións de Apper
Name[hu]=Apper frissítések
Name[lt]=Apper atnaujinimai
Name[nl]=Apper-zaken voor bijwerken
Name[pa]=ਅੱਪਰ ਅੱਪਡੇਟ
Name[pl]=Uaktualnienia Apper
Name[pt]=Actualizações do Apper
Name[pt_BR]=Atualizações do Apper
Name[sk]=Aktualizácie Apper
Name[sv]=Apper uppdateringar
Name[uk]=Оновлення Apper
Name[x-test]=xxApper Updatesxx
GenericName=Software Management
GenericName[bg]=Управление на софтуер
GenericName[ca]=Gestor de programari
GenericName[ca@valencia]=Gestor de programari
GenericName[cs]=Správa softwaru
GenericName[da]=Håndtering af software
GenericName[de]=Softwareverwaltung
GenericName[el]=Διαχείριση λογισμικού
GenericName[en_GB]=Software Management
GenericName[es]=Gestión de software
GenericName[et]=Tarkvarahaldur
GenericName[fi]=Ohjelmistonhallinta
GenericName[fr]=Gestion des logiciels
GenericName[gl]=Xestión de software
GenericName[hr]=Upravljanje softverom
GenericName[hu]=Szoftverkezelő
GenericName[km]=ការ​គ្រប់គ្រង​កម្មវិធី
GenericName[lt]=Programų tvarkymas
GenericName[nds]=Programmpleeg
GenericName[nl]=Softwarebeheer
GenericName[nn]=Programvarehandsaming
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
GenericName[pl]=Zarządzanie oprogramowaniem
GenericName[pt]=Gestão de Aplicações
GenericName[pt_BR]=Gerenciamento de software
GenericName[ro]=Gestiune programe
GenericName[ru]=Управление программами
GenericName[sk]=Správa softvéru
GenericName[sl]=Upravljanje programov
GenericName[sv]=Programvaruhantering
GenericName[tr]=Yazılım Yönetimi
GenericName[uk]=Керування програмами
GenericName[wa]=Manaedjmint des programes
GenericName[x-test]=xxSoftware Managementxx
Comment=Application to get and manage software
Comment[bg]=Инструмент за изтегляне и управление на програми
Comment[ca]=Aplicació per obtenir i gestionar programari
Comment[ca@valencia]=Aplicació per obtindre i gestionar programari
Comment[cs]=Aplikace pro získání a správu softwaru
Comment[da]=Program til at hente og håndtere software
Comment[de]=Anwendung zum Beziehen und Verwalten der Software
Comment[el]=Εφαρμογή για τη λήψη και τη διαχείριση του λογισμικού
Comment[en_GB]=Application to get and manage software
Comment[es]=Aplicación para obtener y gestionar software
Comment[et]=Tarkvara hankimise ja haldamise tarkvara
Comment[fr]=Application pour obtenir et gérer des logiciels
Comment[gl]=Aplicativo para obter e xestionar software
Comment[hr]=Aplikacija za dohvaćanje i upravljanje softverom
Comment[hu]=Alkalmazás szoftverek beszerzéséhez és kezeléséhez
Comment[lt]=Programinės įrangos atsiuntimo ir tvarkymo programa
Comment[nds]=Warktüüch för't Halen un Opfrischen vun Programmen
Comment[nl]=Toepassing voor het verkrijgen en beheren van software
Comment[pa]=ਸਾਫਟਵੇਅਰ ਲੈਣ ਤੇ ਉਨ੍ਹਾਂ ਦੇ ਪਰਬੰਧ ਲਈ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Program do pobierania i zarządzania oprogramowaniem
Comment[pt]=Uma aplicação para obter e gerir aplicações
Comment[pt_BR]=Aplicativo para obter e gerenciar software
Comment[ru]=Загрузка и управление программным обеспечением
Comment[sk]=Aplikácia na získanie a správu softvéru
Comment[sl]=Program za pridobivanje in upravljanje programov
Comment[sv]=Program för att hämta och hantera programvara
Comment[tr]=Yazılımları indirmek ve yönetmek için kullanılan bir uygulama
Comment[uk]=Програма для звантаження і керування пакунками програмного забезпечення
Comment[wa]=Programe po cweri eyet manaedjî ses programes
Comment[x-test]=xxApplication to get and manage softwarexx
