[Desktop Entry]
Type=Application
Icon=applications-other
Exec=appsetup-kde %F

Name=Listaller Package Installer
Name[nl]=Installatieprogramma voor pakketten Listaller
Name[pt]=Instalador de Pacotes Listaller
Name[pt_BR]=Instalador de pacote Listaller
Name[sv]=Listaller paketinstallation
Name[uk]=Програма для встановлення пакунків Listaller
Name[x-test]=xxListaller Package Installerxx
GenericName=3rd-Party Software Installer
GenericName[cs]=instalátor softwaru třetích stran
GenericName[nl]=Installatieprogramma voor software van derden
GenericName[pt]=Instalador de Aplicações de Terceiros
GenericName[pt_BR]=Instalador de software de terceiros
GenericName[sv]=Installation av programvara från tredje part
GenericName[uk]=Програма для встановлення стороннього програмного забезпечення
GenericName[x-test]=xx3rd-Party Software Installerxx
Comment=Application to install new 3rd-party software
Comment[cs]=Aplikace pro instalaci nového softwaru třetích stran
Comment[nl]=Toepassing voor het installeren van software van derden
Comment[pt]=Uma aplicação para instalar aplicações de terceiros
Comment[pt_BR]=Aplicativo para instalar software de terceiros
Comment[sv]=Program för att installera ny programvara från tredje part
Comment[uk]=Програма для встановлення стороннього програмного забезпечення
Comment[x-test]=xxApplication to install new 3rd-party softwarexx

Categories=Qt;KDE;System;PackageManager;
MimeType=application/x-installation;
StartupNotify=true
NoDisplay=true
X-Publisher=KDE Project
X-AppVersion=0.1
