#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Icon=applications-other
Exec=apper -caption "%c" %i %F
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.apper

Name=Apper
Name[da]=Apper
Name[es]=Apper
Name[fr]=Apper
Name[hu]=Apper
Name[pa]=ਅੱਪਰ
Name[pt]=Apper
Name[pt_BR]=Apper
Name[ru]=Apper
Name[sv]=Apper
Name[uk]=Apper
Name[x-test]=xxApperxx
GenericName=Software Management
GenericName[bg]=Управление на софтуер
GenericName[ca]=Gestor de programari
GenericName[ca@valencia]=Gestor de programari
GenericName[cs]=Správa softwaru
GenericName[da]=Håndtering af software
GenericName[de]=Softwareverwaltung
GenericName[el]=Διαχείριση λογισμικού
GenericName[en_GB]=Software Management
GenericName[es]=Gestión de software
GenericName[et]=Tarkvarahaldur
GenericName[fi]=Ohjelmistonhallinta
GenericName[fr]=Gestion des logiciels
GenericName[gl]=Xestión de software
GenericName[hu]=Szoftverkezelő
GenericName[km]=ការ​គ្រប់គ្រង​កម្មវិធី
GenericName[lt]=Programų tvarkymas
GenericName[nds]=Programmpleeg
GenericName[nl]=Softwarebeheer
GenericName[nn]=Programvarehandsaming
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
GenericName[pt]=Gestão de Aplicações
GenericName[pt_BR]=Gerenciamento de software
GenericName[ro]=Gestiune programe
GenericName[ru]=Управление программами
GenericName[sk]=Správa softvéru
GenericName[sl]=Upravljanje programov
GenericName[sv]=Programvaruhantering
GenericName[tr]=Yazılım Yönetimi
GenericName[uk]=Керування програмами
GenericName[x-test]=xxSoftware Managementxx
Comment=Application to get and manage software
Comment[ca]=Aplicació per obtenir i gestionar programari
Comment[ca@valencia]=Aplicació per obtindre i gestionar programari
Comment[da]=Program til at hente og håndtere software
Comment[de]=Anwendung zum Beziehen und Verwalten der Software
Comment[en_GB]=Application to get and manage software
Comment[es]=Aplicación para obtener y gestionar software
Comment[fr]=Application pour obtenir et gérer des logiciels
Comment[hu]=Alkalmazás szoftverek beszerzéséhez és kezeléséhez
Comment[nds]=Warktüüch för't Halen un Opfrischen vun Programmen
Comment[pa]=ਸਾਫਟਵੇਅਰ ਲੈਣ ਤੇ ਉਨ੍ਹਾਂ ਦੇ ਪਰਬੰਧ ਲਈ ਐਪਲੀਕੇਸ਼ਨ
Comment[pt]=Uma aplicação para obter e gerir aplicações
Comment[pt_BR]=Aplicativo para obter e gerenciar software
Comment[ru]=Программа для загрузки и управления пакетами программного обеспечения
Comment[sk]=Aplikácia na získanie a správu softvéru
Comment[sl]=Program za pridobivanje in upravljanje programov
Comment[sv]=Program för att hämta och hantera programvara
Comment[tr]=Yazılımları indirmek ve yönetmek için kullanılan bir uygulama
Comment[uk]=Програма для звантаження і керування пакунками програмного забезпечення
Comment[x-test]=xxApplication to get and manage softwarexx

MimeType=application/x-deb;application/x-rpm;application/x-redhat-package-manager;application/x-servicepack;
Terminal=false
Categories=Qt;KDE;System;PackageManager;
InitialPreference=10
