[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=apperd
X-KDE-Kded-autoload=true

Name=Apper Monitor
Name[pt]=Monitor do Apper
Name[pt_BR]=Monitor do Apper
Name[sv]=Apper övervakning
Name[uk]=Монітор Apper
Name[x-test]=xxApper Monitorxx

Comment=Watch transactions and Notify about Software Updates
Comment[pt]=Segue as transacções e notifica as Actualizações de 'Software'
Comment[pt_BR]=Monitora as transações e notifica as atualizações de software
Comment[sv]=Övervaka transaktioner och underrätta om uppdateringar av programvara
Comment[uk]=Перегляд операцій та сповіщення щодо оновлень програм
Comment[x-test]=xxWatch transactions and Notify about Software Updatesxx
