[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=apperd
X-KDE-Kded-autoload=true

Name=Apper Monitor
Name[cs]=Apper monitor
Name[da]=Apper overvågning
Name[el]=Παρακολούθηση Apper
Name[es]=Monitor de Apper
Name[et]=Apperi monitor
Name[fr]=Moniteur Apper
Name[gl]=Monitor de Apper
Name[hu]=Apper Monitor
Name[lt]=Apper stebėtojas
Name[nl]=Apper-monitor
Name[pa]=ਅੱਪਰ ਮਾਨੀਟਰ
Name[pl]=Monitor Apper
Name[pt]=Monitor do Apper
Name[pt_BR]=Monitor do Apper
Name[ru]=Монитор Apper
Name[sk]=Apper Monitor
Name[sv]=Apper övervakning
Name[uk]=Монітор Apper
Name[wa]=Corwaitoe d' Apper
Name[x-test]=xxApper Monitorxx

Comment=Watch transactions and Notify about Software Updates
Comment[cs]=Sledovat transakce a upozorňovat na aktualizace softwaru
Comment[da]=Overvåger transaktioner og bekendtgør om softwareopdateringer
Comment[el]=Παρακολούθηση συναλλαγών και ειδοποίηση σχετικά με ενημερώσεις λογισμικού
Comment[es]=Buscar transacciones y notificar actualizaciones de software
Comment[et]=Tarkvarauuenduste jälgimine ja neist teadaandmine
Comment[fr]=Surveille les transactions et informe à propos des mises à jour logicielles
Comment[gl]=Vixía e notifica a existencia de actualizacións de software
Comment[hu]=Tranzakciók figyelése és értesítés szoftverfrissítésekről
Comment[lt]=Stebi ir praneša apie programų atnaujinimus
Comment[nl]=Bewaak transacties en meldt het bijwerken van software
Comment[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਬਾਰੇ ਟਰਾਂਸ਼ੈਕਸ਼ਨ ਅਤੇ ਸੂਚਨਾ ਵੇਖੋ
Comment[pl]=Obserwuj transakcje i powiadom o uaktualnieniach oprogramowania
Comment[pt]=Segue as transacções e notifica as Actualizações de 'Software'
Comment[pt_BR]=Monitora as transações e notifica as atualizações de software
Comment[ru]=Показывает текущие операции и уведомляет об обновлениях программ
Comment[sk]=Sleduje transakcie a upozorňuje na aktualizácie softvéru
Comment[sv]=Övervaka transaktioner och underrätta om uppdateringar av programvara
Comment[uk]=Перегляд операцій та сповіщення щодо оновлень програм
Comment[wa]=Waitî après les tranzaccions eyet notifyî cwand gn a des metaedjes a djoû des programes
Comment[x-test]=xxWatch transactions and Notify about Software Updatesxx
