[Desktop Entry]
Type=Application
Icon=applications-other
Exec=apper
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.apper

Name=Apper
GenericName=Software Management
Comment=Application to get and manage software

Terminal=false
Categories=Qt;KDE;System;Settings;PackageManager;
InitialPreference=10
