[Desktop Entry]
Type=Application
Icon=applications-other
Exec=apper-appsetup %F

Name=Listaller Package Installer
GenericName=3rd-party software installer
Comment=Tool to install new 3rd-party software

Categories=Qt;KDE;System;Settings;PackageManager;
MimeType=application/x-installation;
StartupNotify=true
NoDisplay=true
X-Publisher=KDE Project
X-AppVersion=0.4
