[Desktop Entry]
Type=Application
Icon=applications-other
Exec=apper --settings
NoDisplay=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.apper

Name=Apper Settings
GenericName=Software Management
Comment=Application to get and manage software
