[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=apperd
X-KDE-Kded-autoload=true

Name=Apper Monitor
Name[da]=Apper overvågning
Name[fr]=Moniteur Apper
Name[nl]=Apper-monitor
Name[pa]=ਅੱਪਰ ਮਾਨੀਟਰ
Name[pl]=Monitor Apper
Name[pt]=Monitor do Apper
Name[pt_BR]=Monitor do Apper
Name[sv]=Apper övervakning
Name[uk]=Монітор Apper
Name[wa]=Corwaitoe d' Apper
Name[x-test]=xxApper Monitorxx

Comment=Watch transactions and Notify about Software Updates
Comment[da]=Overvåger transaktioner og bekendtgør om softwareopdateringer
Comment[fr]=Surveille les transactions et informe à propos des mises à jour logicielles
Comment[nl]=Bewaak transacties en meldt het bijwerken van software
Comment[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਬਾਰੇ ਟਰਾਂਸ਼ੈਕਸ਼ਨ ਅਤੇ ਸੂਚਨਾ ਵੇਖੋ
Comment[pl]=Obserwuj transakcje i powiadom o uaktualnieniach oprogramowania
Comment[pt]=Segue as transacções e notifica as Actualizações de 'Software'
Comment[pt_BR]=Monitora as transações e notifica as atualizações de software
Comment[sv]=Övervaka transaktioner och underrätta om uppdateringar av programvara
Comment[uk]=Перегляд операцій та сповіщення щодо оновлень програм
Comment[wa]=Waitî après les tranzaccions eyet notifyî cwand gn a des metaedjes a djoû des programes
Comment[x-test]=xxWatch transactions and Notify about Software Updatesxx
