[Desktop Entry]
Type=Application
Icon=applications-other
Exec=apper %F
NoDisplay=true
StartupNotify=false

Name=Apper Installer
Name[nl]=Apper-installatieprogramma
Name[pt]=Instalador do Apper
Name[x-test]=xxApper Installerxx
GenericName=Software Management
GenericName[nl]=Softwarebeheer
GenericName[pt]=Gestão de Aplicações
GenericName[x-test]=xxSoftware Managementxx
Comment=Application to get and manage software
Comment[nl]=Toepassing voor het verkrijgen en beheren van software
Comment[pt]=Uma aplicação para obter e gerir aplicações
Comment[x-test]=xxApplication to get and manage softwarexx

MimeType=application/x-deb;application/x-rpm;application/x-redhat-package-manager;application/x-servicepack;
Terminal=false
Categories=Qt;KDE;System;Settings;PackageManager;
InitialPreference=10
