[Desktop Entry]
Type=Application
Icon=applications-other
Exec=apper --updates
NoDisplay=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.apper

Name=Apper Updates
Name[nl]=Apper-zaken voor bijwerken
Name[pt]=Actualizações do Apper
Name[x-test]=xxApper Updatesxx
GenericName=Software Management
GenericName[nl]=Softwarebeheer
GenericName[pt]=Gestão de Aplicações
GenericName[x-test]=xxSoftware Managementxx
Comment=Application to get and manage software
Comment[nl]=Toepassing voor het verkrijgen en beheren van software
Comment[pt]=Uma aplicação para obter e gerir aplicações
Comment[x-test]=xxApplication to get and manage softwarexx
