[Desktop Entry]
Type=Application
Icon=applications-other
Exec=kpackagekit -caption "%c" %i %F
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.KPackageKit

Name=AppGet
Name[x-test]=xxAppGetxx
GenericName=Software Management
GenericName[bg]=Управление на софтуер
GenericName[ca]=Gestor de programari
GenericName[ca@valencia]=Gestor de programari
GenericName[cs]=Správa softwaru
GenericName[da]=Håndtering af software
GenericName[de]=Softwareverwaltung
GenericName[el]=Διαχείριση λογισμικού
GenericName[en_GB]=Software Management
GenericName[es]=Gestión de software
GenericName[et]=Tarkvarahaldur
GenericName[fi]=Ohjelmistonhallinta
GenericName[fr]=Gestion des logiciels
GenericName[gl]=Xestión de software
GenericName[hu]=Szoftverkezelés
GenericName[ja]=ソフトウェア管理
GenericName[km]=ការ​គ្រប់គ្រង​កម្មវិធី
GenericName[nds]=Programmpleeg
GenericName[nl]=Softwarebeheer
GenericName[nn]=Programvarehandsaming
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
GenericName[pt]=Gestão de Aplicações
GenericName[pt_BR]=Gerenciamento de software
GenericName[ro]=Gestiune programe
GenericName[sk]=Správa softvéru
GenericName[sv]=Programvaruhantering
GenericName[tr]=Yazılım Yönetimi
GenericName[uk]=Керування програмами
GenericName[x-test]=xxSoftware Managementxx
Comment=Application to get and manage software
Comment[x-test]=xxApplication to get and manage softwarexx

MimeType=application/x-deb;application/x-rpm;application/x-redhat-package-manager;application/x-servicepack;
Terminal=false
Categories=Qt;KDE;System;PackageManager;
InitialPreference=10
