[Desktop Entry]
Type=Service
Exec=kcmshell4 kcm_apper
Icon=applications-other

X-KDE-Library=kcm_apper
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Category=manage-software
X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-System-Settings-Parent-Category-V2=system-administration

Name=Software Management

Comment=Get, Remove and Update Software

X-KDE-Keywords=install,uninstall,remove,software,applications,management,packages,packagekit,purge
