[Desktop Entry]
Type=Service
Exec=kcmshell4 kcm_apper
Icon=applications-other

X-KDE-Library=kcm_apper
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Category=manage-software
X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-System-Settings-Parent-Category-V2=system-administration

Name=Software Management
Name[bg]=Управление на софтуер
Name[ca]=Gestor de programari
Name[ca@valencia]=Gestor de programari
Name[cs]=Správa softwaru
Name[da]=Håndtering af software
Name[de]=Softwareverwaltung
Name[el]=Διαχείριση λογισμικού
Name[en_GB]=Software Management
Name[es]=Gestión de software
Name[et]=Tarkvarahaldur
Name[fi]=Ohjelmistonhallinta
Name[fr]=Gestion des logiciels
Name[gl]=Xestión do software
Name[hr]=Upravljanje softverom
Name[hu]=Szoftverkezelő
Name[km]=ការ​គ្រប់គ្រង​កម្មវិធី
Name[lt]=Programų tvarkymas
Name[nds]=Programmpleeg
Name[nl]=Softwarebeheer
Name[nn]=Programvarehandsaming
Name[pa]=ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
Name[pl]=Zarządzanie oprogramowaniem
Name[pt]=Gestão de Aplicações
Name[pt_BR]=Gerenciamento de software
Name[ro]=Gestiune programe
Name[ru]=Управление программами
Name[sk]=Správa softvéru
Name[sl]=Upravljanje programov
Name[sv]=Programvaruhantering
Name[tr]=Yazılım Yönetimi
Name[uk]=Керування програмами
Name[wa]=Manaedjmint des programes
Name[x-test]=xxSoftware Managementxx

Comment=Get, Remove and Update Software
Comment[bg]=Инсталиране, премахване и обновяване на програми
Comment[ca]=Obtén, elimina i actualitza el programari
Comment[ca@valencia]=Obtén, elimina i actualitza el programari
Comment[da]=Hent, fjern og opdatér software
Comment[de]=Beziehen, entfernen und aktualisieren der Software
Comment[en_GB]=Get, Remove and Update Software
Comment[es]=Añadir, eliminar y actualizar software
Comment[et]=Tarkvara paigaldamine, eemaldamine ja uuendamine
Comment[fr]=Obtenir, supprimer et mettre à jour des logiciels
Comment[hr]=Dohvaćanje, uklanjanje i ažuriranje softvera
Comment[hu]=Szoftverek letöltése, eltávolítása és frissítése
Comment[lt]=Gauti, šalinti ir naujinti programas
Comment[nds]=Programmen halen, wegmaken un opfrischen
Comment[nl]=Software verkrijgen, verwijderen en bijwerken
Comment[pa]=ਸਾਫਟਵੇਅਰ ਲਵੋ, ਹਟਾਓ ਤੇ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Pobierz, usuń i uaktualnij oprogramowanie
Comment[pt]=Obter, Remover e Actualizar Aplicações
Comment[pt_BR]=Obtém, remove e atualiza aplicativos
Comment[ru]=Установка, удаление и обновление программного обеспечения
Comment[sk]=Získanie, odstránenie a aktualizácia softvéru
Comment[sl]=Dobite, odstranite in posodobite programe
Comment[sv]=Hämta, ta bort och uppdatera programvara
Comment[tr]=Yazılım Ekle, Kaldır ve Güncelle
Comment[uk]=Встановлення, вилучення і оновлення програмного забезпечення
Comment[wa]=Cweri, oister eyet mete a djoû des programes
Comment[x-test]=xxGet, Remove and Update Softwarexx

X-KDE-Keywords=install,unistall,remove,software,applications,management,packages,packagekit,purge
X-KDE-Keywords[pt_BR]=instalar,desinstalar,remover,software,aplicativos,gerenciamento,pacotes,packagekit,eliminar
X-KDE-Keywords[fr_FR]=installer,désinstaller,supprimer,logiciel,application,gestion,package,packagekit
