[Desktop Entry]
Type=Application
Icon=applications-other
Exec=kpackagekit -caption "%c" %i %F
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.KPackageKit

Name=KPackageKit
Name[sv]=Kpackagekit
Name[x-test]=xxKPackageKitxx
GenericName=Software Management
GenericName[el]=Διαχείριση λογισμικού
GenericName[gl]=Xestión de software
GenericName[nds]=Programmpleeg
GenericName[pt]=Gestão de Aplicações
GenericName[pt_BR]=Gestão de Aplicações
GenericName[sv]=Programvaruhantering
GenericName[tr]=Yazılım Yönetimi
GenericName[uk]=Керування програмами
GenericName[x-test]=xxSoftware Managementxx
Comment=PackageKit interface for KDE
Comment[el]=Διασύνδεση PackageKit για το KDE
Comment[gl]=Interface de PackageKit para KDE
Comment[nds]=KPackageKit-Koppelsteed för KDE
Comment[pt]=Interface do PackageKit para o KDE
Comment[pt_BR]=Interface do PackageKit para o KDE
Comment[sv]=Packagekit-gränssnitt för KDE
Comment[tr]=KDE için PackageKit arayüzü
Comment[uk]=Інтерфейс PackageKit для KDE
Comment[x-test]=xxPackageKit interface for KDExx

MimeType=application/x-rpm;application/x-deb;
Terminal=false
Categories=Qt;KDE;System;SoftwareManagement;
