[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kpackagekitd
X-KDE-Kded-autoload=true

Name=KPackageKit Service

Comment=Tracks and Notify about Software Updates
