[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kpackagekitd
X-KDE-Kded-autoload=true

Name=KPackageKit Service
Name[pt_BR]=Serviço KPackageKit
Name[fr_FR]=Service KPackageKit

Comment=Tracks and Notify about Software Updates
Comment[pt_BR]=Busca e Notifica sobre Atualizações de Software
Comment[fr_FR]=Cherche et informe des mises à jour disponibles
