[Desktop Entry]
Type=Application
Icon=applications-other
Exec=kpackagekit -caption "%c" %i %F
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kpackagekit

Name=KPackageKit
Name[bg]=KPackageKit
Name[ca]=KPackageKit
Name[ca@valencia]=KPackageKit
Name[cs]=KPackageKit
Name[da]=KPackageKit
Name[de]=KPackageKit
Name[el]=KPackageKit
Name[en_GB]=KPackageKit
Name[es]=KPackageKit
Name[et]=KPackageKit
Name[fi]=KPackageKit
Name[fr]=KPackageKit
Name[ga]=KPackageKit
Name[gl]=KPackageKit
Name[hu]=KPackageKit
Name[ja]=KPackageKit
Name[km]=KPackageKit
Name[lt]=KPackageKit
Name[nds]=KPackageKit
Name[nl]=KPackageKit
Name[nn]=KPackageKit
Name[pa]=ਕੇ-ਪੈਕੇਜ-ਕਿੱਟ
Name[pt]=KPackageKit
Name[pt_BR]=KPackageKit
Name[ro]=KPackageKit
Name[sk]=KPackageKit
Name[sl]=KPackageKit
Name[sv]=Kpackagekit
Name[tr]=KPackageKit
Name[uk]=KPackageKit
Name[x-test]=xxKPackageKitxx
GenericName=Software Management
GenericName[bg]=Управление на софтуер
GenericName[ca]=Gestor de programari
GenericName[ca@valencia]=Gestor de programari
GenericName[cs]=Správa softwaru
GenericName[da]=Håndtering af software
GenericName[de]=Softwareverwaltung
GenericName[el]=Διαχείριση λογισμικού
GenericName[en_GB]=Software Management
GenericName[es]=Gestión de software
GenericName[et]=Tarkvarahaldur
GenericName[fi]=Ohjelmistonhallinta
GenericName[fr]=Gestion des logiciels
GenericName[gl]=Xestión de software
GenericName[hu]=Szoftverkezelő
GenericName[ja]=ソフトウェア管理
GenericName[km]=ការ​គ្រប់គ្រង​កម្មវិធី
GenericName[lt]=Programų tvarkymas
GenericName[nds]=Programmpleeg
GenericName[nl]=Softwarebeheer
GenericName[nn]=Programvarehandsaming
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
GenericName[pt]=Gestão de Aplicações
GenericName[pt_BR]=Gerenciamento de software
GenericName[ro]=Gestiune programe
GenericName[sk]=Správa softvéru
GenericName[sl]=Upravljanje programov
GenericName[sv]=Programvaruhantering
GenericName[tr]=Yazılım Yönetimi
GenericName[uk]=Керування програмами
GenericName[x-test]=xxSoftware Managementxx
Comment=Application to get and manage software
Comment[ca]=Aplicació per obtenir i gestionar programari
Comment[da]=Program til at hente og håndtere software
Comment[de]=Anwendung zum Beziehen und Verwalten der Software
Comment[en_GB]=Application to get and manage software
Comment[hu]=Alkalmazás szoftverek beszerzéséhez és kezeléséhez
Comment[pt]=Uma aplicação para obter e gerir aplicações
Comment[pt_BR]=Aplicativo para obter e gerenciar software
Comment[sl]=Program za pridobivanje in upravljanje programov
Comment[sv]=Program för att hämta och hantera programvara
Comment[uk]=Програма для звантаження і керування пакунками програмного забезпечення
Comment[x-test]=xxApplication to get and manage softwarexx

MimeType=application/x-deb;application/x-rpm;application/x-redhat-package-manager;application/x-servicepack;
Terminal=false
Categories=Qt;KDE;System;PackageManager;
InitialPreference=10
