[Desktop Entry]
Type=Application
Icon=applications-other
Exec=kpackagekit -caption "%c" %i %F
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.KPackageKit

Name=KPackageKit
Name[bg]=KPackageKit
Name[ca]=KPackageKit
Name[ca@valencia]=KPackageKit
Name[cs]=KPackageKit
Name[da]=KPackageKit
Name[de]=KPackageKit
Name[el]=KPackageKit
Name[en_GB]=KPackageKit
Name[es]=KPackageKit
Name[et]=KPackageKit
Name[fi]=KPackageKit
Name[fr]=KPackageKit
Name[ga]=KPackageKit
Name[gl]=KPackageKit
Name[hu]=KPackageKit
Name[km]=KPackageKit
Name[nds]=KPackageKit
Name[nl]=KPackageKit
Name[nn]=KPackageKit
Name[pa]=ਕੇ-ਪੈਕੇਜ-ਕਿੱਟ
Name[pt]=KPackageKit
Name[pt_BR]=KPackageKit
Name[ro]=KPackageKit
Name[sk]=KPackageKit
Name[sv]=Kpackagekit
Name[tr]=KPackageKit
Name[uk]=KPackageKit
Name[x-test]=xxKPackageKitxx
GenericName=Software Management
GenericName[bg]=Управление на софтуер
GenericName[ca]=Gestor de programari
GenericName[ca@valencia]=Gestor de programari
GenericName[cs]=Správa softwaru
GenericName[da]=Håndtering af software
GenericName[de]=Softwareverwaltung
GenericName[el]=Διαχείριση λογισμικού
GenericName[en_GB]=Software Management
GenericName[es]=Gestión de software
GenericName[et]=Tarkvarahaldur
GenericName[fi]=Ohjelmistonhallinta
GenericName[fr]=Gestion des logiciels
GenericName[gl]=Xestión de software
GenericName[hu]=Szoftver Menedzsment
GenericName[km]=ការ​គ្រប់គ្រង​កម្មវិធី
GenericName[nds]=Programmpleeg
GenericName[nl]=Softwarebeheer
GenericName[nn]=Programvarehandsaming
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
GenericName[pt]=Gestão de Aplicações
GenericName[pt_BR]=Gerenciamento de software
GenericName[ro]=Gestiune programe
GenericName[sk]=Správa softvéru
GenericName[sv]=Programvaruhantering
GenericName[tr]=Yazılım Yönetimi
GenericName[uk]=Керування програмами
GenericName[x-test]=xxSoftware Managementxx
Comment=PackageKit interface for KDE
Comment[bg]=Интерфейс на PackageKit за KDE
Comment[ca]=Interfície del PackageKit per al KDE
Comment[ca@valencia]=Interfície del PackageKit per al KDE
Comment[cs]=PackageKit rozhraní pro KDE
Comment[da]=PackageKit-brugerflade til KDE
Comment[el]=Διασύνδεση PackageKit για το KDE
Comment[en_GB]=PackageKit interface for KDE
Comment[es]=Interfaz de PackageKit para KDE
Comment[et]=PackageKiti KDE liides
Comment[fi]=KDE:n PackageKit-liittymä
Comment[fr]=Interface PackageKit pour KDE
Comment[gl]=Interface de PackageKit para KDE
Comment[hu]=PackageKit interfész a KDE-re
Comment[km]=ចំណុច​ប្រទាក់ PackageKit សម្រាប់ KDE
Comment[nds]=KPackageKit-Koppelsteed för KDE
Comment[nl]=KDE-interface voor PackageKit
Comment[nn]=Brukargrensesnitt for programvarehandsaming i KDE
Comment[pa]=KDE ਲਈ ਪੈਕੇਜ-ਕਿੱਟ ਇੰਟਰਫੇਸ
Comment[pt]=Interface do PackageKit para o KDE
Comment[pt_BR]=Interface do PackageKit para o KDE
Comment[ro]=Interfață PackageKit pentru KDE
Comment[sk]=PackageKit rozhranie pre KDE
Comment[sv]=Packagekit-gränssnitt för KDE
Comment[tr]=KDE için PackageKit arayüzü
Comment[uk]=Інтерфейс PackageKit для KDE
Comment[x-test]=xxPackageKit interface for KDExx

MimeType=application/x-deb;application/x-rpm;application/x-redhat-package-manager;application/x-servicepack;
Terminal=false
Categories=Qt;KDE;System;PackageManager;
InitialPreference=10
