[Desktop Entry]
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
Exec=kcmshell4 kpk_update
Icon=system-software-update

X-KDE-Library=kcm_kpk_update
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=add-and-remove-software
X-KDE-Weight=2

Name=Software Updates
Name[bg]=Софтуерни обновления
Name[ca]=Actualitzacions del programari
Name[ca@valencia]=Actualitzacions del programari
Name[cs]=Aktualizace softwaru
Name[da]=Softwareopdateringer
Name[de]=Softwareaktualisierung
Name[el]=Ενημερώσεις λογισμικού
Name[en_GB]=Software Updates
Name[es]=Actualizaciones de software
Name[et]=Tarkvarauuendused
Name[fi]=Ohjelmapäivitykset
Name[fr]=Mises à jour logicielles
Name[gl]=Actualizacións de software
Name[hu]=Szoftverfrissítések
Name[ja]=ソフトウェアアップデート
Name[km]=​បច្ចុប្បន្នភាព​​របស់​កម្មវិធី
Name[nds]=Software-Opfrischen
Name[nl]=Software-opwaarderingen
Name[nn]=Programvareoppdateringar
Name[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ
Name[pt]=Actualizações das Aplicações
Name[pt_BR]=Atualizações de software
Name[ro]=Actualizări de programe
Name[sk]=Aktualizácie softvéru
Name[sv]=Uppdateringar av programvara
Name[tr]=Yazılım Güncellemeleri
Name[uk]=Оновлення програм
Name[x-test]=xxSoftware Updatesxx

Comment=Check and Install Updates
Comment[bg]=Проверка и инсталиране на обновления
Comment[ca]=Comprova i instal·la actualitzacions
Comment[ca@valencia]=Comprova i instal·la actualitzacions
Comment[cs]=Projít a nainstalovat aktualizace
Comment[da]=Tjek efter og installér opdateringer
Comment[de]=Aktualisierungen suchen und installieren
Comment[el]=Έλεγχος και εγκατάσταση ενημερώσεων
Comment[en_GB]=Check and Install Updates
Comment[es]=Buscar e instalar actualizaciones
Comment[et]=Uuenduste kontroll ja paigaldamine
Comment[fi]=Tarkkaile ja asenna päivityksiä
Comment[fr]=Vérifier et installer les mises à jour
Comment[gl]=Vixía e instala actualizacións
Comment[hu]=Frissítések ellenőrzése és telepítése
Comment[ja]=アップデートをチェック、インストール
Comment[km]=ពិនិត្យ​មើល និង​ដំឡើងបច្ចុប្បន្នភាព
Comment[nds]=Na Opfrischen kieken un se installeren
Comment[nn]=Sjå etter og installer oppdateringar
Comment[pa]=ਅੱਪਡੇਟ ਲਈ ਚੈੱਕ ਕਰਕੇ ਇੰਸਟਾਲ ਕਰੋ
Comment[pt]=Verificar e Instalar as Actualizações
Comment[pt_BR]=Verifica e instala as atualizações
Comment[ro]=Verifică și instalează actualizări
Comment[sk]=Kontrola a inštalácia aktualizácií
Comment[sv]=Kontrollera och installera uppdateringar
Comment[tr]=Güncellemeleri Kontrol Et ve Yükle
Comment[uk]=Перевірити і встановити оновлення
Comment[x-test]=xxCheck and Install Updatesxx

X-KDE-Keywords=packagekit,update,upgrade
X-KDE-Keywords[pt_BR]=packagekit,atualizar
X-KDE-Keywords[fr_FR]=packagekit,mise à jour
