[Desktop Entry]
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
Exec=kcmshell4 kpk_settings
Icon=preferences-other

X-KDE-Library=kcm_kpk_settings
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=manage-software
X-KDE-Weight=3

Name=Settings
Name[bg]=Настройки
Name[ca]=Arranjaments
Name[ca@valencia]=Arranjaments
Name[cs]=Nastavení
Name[da]=Indstillinger
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[en_GB]=Settings
Name[eo]=Agordo
Name[es]=Preferencias
Name[et]=Seadistused
Name[fi]=Asetukset
Name[fr]=Configuration
Name[ga]=Socruithe
Name[gl]=Configuración
Name[hu]=Beállítások
Name[ja]=設定
Name[km]=ការ​កំណត់
Name[lt]=Nustatymai
Name[nds]=Instellen
Name[nl]=Instellingen
Name[nn]=Innstillingar
Name[pa]=ਸੈਟਿੰਗ
Name[pt]=Configuração
Name[pt_BR]=Configurações
Name[ro]=Configurări
Name[sk]=Nastavenie
Name[sl]=Nastavitve
Name[sv]=Inställningar
Name[tr]=Ayarlar
Name[uk]=Параметри
Name[x-test]=xxSettingsxx

Comment=Software Management Settings
Comment[ca]=Arranjament del gestor de programari
Comment[da]=Indstilling af håndtering af software
Comment[de]=Einstellungen der Softwareverwaltung
Comment[en_GB]=Software Management Settings
Comment[hu]=A Szoftverkezelő beállításai
Comment[lt]=Programų tvarkymo nustatymai
Comment[pt]=Configuração da Gestão de Aplicações
Comment[pt_BR]=Configurações do Gerenciamento de Software
Comment[sl]=Nastavitve upravljanja programov
Comment[sv]=Inställningar av programvaruhantering
Comment[uk]=Параметри керування програмним забезпеченням
Comment[x-test]=xxSoftware Management Settingsxx

X-KDE-Keywords=packagekit,setup,settings
X-KDE-Keywords[pt_BR]=packagekit,configurações
X-KDE-Keywords[fr_FR]=packagekit,configuration
