[Desktop Entry]
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
Exec=kcmshell4 kpk_settings
Icon=preferences-other

X-KDE-Library=kcm_kpk_settings
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=add-and-remove-software
X-KDE-Weight=3

Name=Settings
Name[cs]=Nastavení
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[gl]=Configuración
Name[nds]=Instellen
Name[pt]=Configuração
Name[pt_BR]=Configuração
Name[sv]=Inställningar
Name[tr]=Ayarlar
Name[uk]=Параметри
Name[x-test]=xxSettingsxx

Comment=KPackageKit Settings
Comment[cs]=Nastavení KPackageKit
Comment[de]=Einstellungen von KPackageKit
Comment[el]=Ρυθμίσεις KPackageKit
Comment[gl]=Configuración de KPackageKit
Comment[nds]=KPackageKit instellen
Comment[pt]=Configuração do KPackageKit
Comment[pt_BR]=Configuração do KPackageKit
Comment[sv]=Inställningar av Kpackagekit
Comment[tr]=KPackageKit Ayarları
Comment[uk]=Параметри KPackageKit
Comment[x-test]=xxKPackageKit Settingsxx

X-KDE-Keywords=packagekit,setup,settings
X-KDE-Keywords[pt_BR]=packagekit,configurações
X-KDE-Keywords[fr_FR]=packagekit,configuration
