[Desktop Entry]
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
Exec=kcmshell4 kpk_update
Icon=system-software-update

X-KDE-Library=kcm_kpk_update
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=manage-software
X-KDE-Weight=2

Name=Software Updates
Name[bg]=Софтуерни обновления
Name[ca]=Actualitzacions del programari
Name[ca@valencia]=Actualitzacions del programari
Name[cs]=Aktualizace softwaru
Name[da]=Softwareopdateringer
Name[de]=Softwareaktualisierung
Name[el]=Ενημερώσεις λογισμικού
Name[en_GB]=Software Updates
Name[es]=Actualizaciones de software
Name[et]=Tarkvarauuendused
Name[fi]=Ohjelmapäivitykset
Name[fr]=Mises à jour logicielles
Name[gl]=Actualizacións de software
Name[hu]=Szoftverfrissítések
Name[ja]=ソフトウェアアップデート
Name[km]=​បច្ចុប្បន្នភាព​​របស់​កម្មវិធី
Name[lt]=Programų atnaujinimai
Name[nds]=Programm-Opfrischen
Name[nl]=Software-opwaarderingen
Name[nn]=Programvareoppdateringar
Name[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ
Name[pt]=Actualizações das Aplicações
Name[pt_BR]=Atualizações de software
Name[ro]=Actualizări de programe
Name[sk]=Aktualizácie softvéru
Name[sl]=Posodobitve programov
Name[sv]=Uppdateringar av programvara
Name[tr]=Yazılım Güncellemeleri
Name[uk]=Оновлення програм
Name[x-test]=xxSoftware Updatesxx

Comment=Review and Update Software
Comment[bg]=Преглед и обновяване на програми
Comment[ca]=Revisa i actualitza el programari
Comment[da]=Efterse og opdatér software
Comment[de]=Software prüfen und aktualisieren
Comment[en_GB]=Review and Update Software
Comment[es]=Revisar y actualizar software
Comment[hu]=Szoftverek áttekintése és frissítése
Comment[lt]=Peržiūrėti ir atnaujinti programas
Comment[pa]=ਸਾਫਟਵੇਅਰ ਪੜਤਾਲ ਕਰਕੇ ਅੱਪਡੇਟ ਕਰੋ
Comment[pt]=Rever e Actualizar as Aplicações
Comment[pt_BR]=Revisar e atualizar o software
Comment[sl]=Preglejte in posodobite programe
Comment[sv]=Granska och uppdatera programvara
Comment[tr]=Gözden Geçir ve Yazılım Güncelle
Comment[uk]=Перегляд і оновлення програмного забезпечення
Comment[x-test]=xxReview and Update Softwarexx

X-KDE-Keywords=packagekit,update,upgrade
X-KDE-Keywords[pt_BR]=packagekit,atualizar
X-KDE-Keywords[fr_FR]=packagekit,mise à jour
