[Desktop Entry]
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
Exec=kcmshell4 kpk_settings
Icon=preferences-other

X-KDE-Library=kcm_kpk_settings
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=add-and-remove-software
X-KDE-Weight=3

Name=Settings
Name[ca]=Arranjaments
Name[cs]=Nastavení
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[et]=Seadistused
Name[fr]=Configuration
Name[ga]=Socruithe
Name[gl]=Configuración
Name[km]=ការ​កំណត់
Name[nds]=Instellen
Name[nl]=Instellingen
Name[nn]=Innstillingar
Name[pa]=ਸੈਟਿੰਗ
Name[pt]=Configuração
Name[pt_BR]=Configurações
Name[ro]=Configurări
Name[sv]=Inställningar
Name[tr]=Ayarlar
Name[uk]=Параметри
Name[x-test]=xxSettingsxx

Comment=KPackageKit Settings
Comment[ca]=Arranjaments del KpackageKit
Comment[cs]=Nastavení KPackageKit
Comment[de]=Einstellungen von KPackageKit
Comment[el]=Ρυθμίσεις KPackageKit
Comment[et]=KPackageKiti seadistused
Comment[fr]=Configuration de KPackageKit
Comment[ga]=Socruithe KPackageKit
Comment[gl]=Configuración de KPackageKit
Comment[km]=ការ​កំណត់ KPackageKit
Comment[nds]=KPackageKit instellen
Comment[nn]=Innstillingar for KPackageKit
Comment[pa]=ਕੇ-ਪੈਕੇਜ-ਕਿੱਟ ਸੈਟਿੰਗ
Comment[pt]=Configuração do KPackageKit
Comment[pt_BR]=Configurações do KPackageKit
Comment[ro]=Configurări KPackageKit
Comment[sv]=Inställningar av Kpackagekit
Comment[tr]=KPackageKit Ayarları
Comment[uk]=Параметри KPackageKit
Comment[x-test]=xxKPackageKit Settingsxx

X-KDE-Keywords=packagekit,setup,settings
X-KDE-Keywords[pt_BR]=packagekit,configurações
X-KDE-Keywords[fr_FR]=packagekit,configuration
