[Desktop Entry]
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
Exec=kcmshell4 kpk_addrm
Icon=preferences-desktop-default-applications

X-KDE-Library=kcm_kpk_addrm
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=add-and-remove-software
X-KDE-Weight=1

Name=Add and Remove Software
Name[bg]=Добавяне и премахване на програми
Name[ca]=Afegeix i elimina programes
Name[ca@valencia]=Afig i elimina programes
Name[cs]=Přidat a odebrat software
Name[da]=Tilføj og fjern software
Name[de]=Software hinzufügen und entfernen
Name[el]=Προσθήκη και αφαίρεση λογισμικού
Name[en_GB]=Add and Remove Software
Name[es]=Añadir y eliminar software
Name[et]=Tarkvara lisamine ja eemaldamine
Name[fi]=Lisää tai poista ohjelmia
Name[fr]=Ajouter et supprimer des logiciels
Name[gl]=Engadir e eliminar software
Name[hu]=Alkalmazások telepítése és eltávolítása
Name[ja]=ソフトウェアの追加・削除
Name[km]=បន្ថែម និងយក​កម្មវិធី​ចេញ
Name[nds]=Software tofögen un wegmaken
Name[nn]=Legg til / fjern programvare
Name[pa]=ਸਾਫਟਵੇਅਰ ਸ਼ਾਮਲ ਅਤੇ ਹਟਾਓ
Name[pt]=Adicionar e Remover Aplicações
Name[pt_BR]=Adicionar e remover software
Name[ro]=Adaugă și elimină programe
Name[sk]=Pridať a odstrániť softvér
Name[sv]=Lägg till och ta bort program
Name[tr]=Yazılım Ekle ve Kaldır
Name[uk]=Додати або вилучити програми
Name[x-test]=xxAdd and Remove Softwarexx
