[Desktop Entry]
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
Exec=kcmshell4 kpk_addrm
Icon=preferences-desktop-default-applications

X-KDE-Library=kcm_kpk_addrm
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=manage-software
X-KDE-Weight=1

Name=Get and Remove Software
Name[bg]=Добавяне и премахване на програми
Name[ca]=Afegeix i elimina programari
Name[da]=Hent og fjern software
Name[de]=Beziehen und Entfernen von Software
Name[en_GB]=Get and Remove Software
Name[hu]=Alkalmazások letöltése és eltávolítása
Name[lt]=Gauti ir šalinti programas
Name[pa]=ਸਾਫਟਵੇਅਰ ਲਵੋ ਤੇ ਹਟਾਓ
Name[pt]=Obter e Remover Aplicações
Name[pt_BR]=Obter e remover software
Name[sl]=Dobite in odstranite programe
Name[sv]=Hämta och ta bort programvara
Name[tr]=Yazılım Kur veya Kaldır
Name[uk]=Встановлення або вилучення програм
Name[x-test]=xxGet and Remove Softwarexx
