[Desktop Entry]
Type=Service
Icon=applications-other

X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=add-and-remove-software
X-KDE-System-Settings-Parent-Category=computer-administration

Name=Add and Remove Software
Name[cs]=Přidat a odebrat software
Name[de]=Hinzufügen und Entfernen von Software
Name[el]=Προσθήκη και αφαίρεση λογισμικού
Name[et]=Tarkvara lisamine ja eemaldamine
Name[fr]=Ajouter et supprimer des logiciels
Name[gl]=Engadir e eliminar software
Name[km]=បន្ថែម និងយក​កម្មវិធី​ចេញ
Name[nds]=Software tofögen un wegmaken
Name[pa]=ਸਾਫਟਵੇਅਰ ਸ਼ਾਮਲ ਅਤੇ ਹਟਾਓ
Name[pt]=Adicionar e Remover Aplicações
Name[pt_BR]=Adicionar e remover software
Name[ro]=Adaugă și elimină programe
Name[sv]=Lägg till och ta bort program
Name[tr]=Yazılım Ekle ve Kaldır
Name[uk]=Додати або вилучити програми
Name[x-test]=xxAdd and Remove Softwarexx
