[Desktop Entry]
Type=Service
Icon=applications-other

X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=manage-software
X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-System-Settings-Parent-Category-V2=system-administration

Name=Software Management
Name[bg]=Управление на софтуер
Name[ca]=Gestor de programari
Name[ca@valencia]=Gestor de programari
Name[cs]=Správa softwaru
Name[da]=Håndtering af software
Name[de]=Softwareverwaltung
Name[el]=Διαχείριση λογισμικού
Name[en_GB]=Software Management
Name[es]=Gestión de software
Name[et]=Tarkvarahaldur
Name[fi]=Ohjelmistonhallinta
Name[fr]=Gestion des logiciels
Name[gl]=Xestión do software
Name[hu]=Szoftverkezelés
Name[ja]=ソフトウェア管理
Name[km]=ការ​គ្រប់គ្រង​កម្មវិធី
Name[nds]=Programmpleeg
Name[nl]=Softwarebeheer
Name[nn]=Programvarehandsaming
Name[pa]=ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
Name[pt]=Gestão de Aplicações
Name[pt_BR]=Gerenciamento de software
Name[ro]=Gestiune programe
Name[sk]=Správa softvéru
Name[sv]=Programvaruhantering
Name[tr]=Yazılım Yönetimi
Name[uk]=Керування програмами
Name[x-test]=xxSoftware Managementxx

Comment=Get, Remove and Update Software
Comment[x-test]=xxGet, Remove and Update Softwarexx

X-KDE-Keywords=install,unistall,remove,software,applications,management,packages,packagekit,purge
X-KDE-Keywords[pt_BR]=instalar,desinstalar,remover,software,aplicativos,gerenciamento,pacotes,packagekit,eliminar
X-KDE-Keywords[fr_FR]=installer,désinstaller,supprimer,logiciel,application,gestion,package,packagekit
