[Desktop Entry]
Type=Service
Icon=applications-other

X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=add-and-remove-software
X-KDE-System-Settings-Parent-Category=computer-administration

Name=Add and Remove Software
Name[pt_BR]=Adicionar e Remover Programas
Name[fr_FR]=Ajouter et supprimer des logiciels
