[Desktop Entry]
Type=Service
Icon=applications-other

X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=add-and-remove-software
X-KDE-System-Settings-Parent-Category=computer-administration

Name=Add and Remove Software
Name[el]=Προσθήκη και αφαίρεση λογισμικού
Name[gl]=Engadir e eliminar software
Name[pt]=Adicionar e Remover Aplicações
Name[pt_BR]=Adicionar e Remover Aplicações
Name[sv]=Lägg till och ta bort program
Name[uk]=Додати або вилучити програми
